<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <link rel="stylesheet" href="/additional_css/w3.css">
  <link rel="stylesheet" href="/additional_css/w3-theme-blue-grey.css">
  <link rel="stylesheet" href="/additional_css/css_family_Open_Sans.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/additional_css/custom.css">

  </head>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-left-align w3-large" style="background-color: #4CAF50">
  <button onclick="location.href='{{ '/' }}'" class="w3-bar-item w3-button w3-padding-large" style="background-color: #4CAF50; color: white">arikansm.github.io</button>
 </div>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">Menu</h4>
         <hr>
         {% include menu.html %}
        </div>
      </div>
      <br>

    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7" style="text-align:justify;">
    <div class="w3-row-padding">
    <div class="w3-col m12">
      <div class="w3-card w3-round w3-white">
        <div class="w3-container w3-padding">
          <h4>Süleyman Muhammed ARIKAN</h4>
          <span class="w3-left w3-opacity">Sofware Engineer, Instructor, Cyber Security Researcher</span><br>
          <hr class="w3-clear">
          <p>Since his father was a computer teacher, Arıkan met computers at an early age for those years. With the help of his father, he started to write simple desktop applications using visual basic programming language and also learned to use Microsoft Frontpage and Macromedia Flash 5 during his secondary school years. In high school ages, he made effort to improve his programming skills and tried to learn some of C-Family programming languages. Of course, as a result of all this, his interest in computer science increased day by day. Therefore, he continued his higher education in computer engineering department to become a software developer/engineer in 2010.
          </p>
          <p>After graduating as the first ranked (highest GPA) student in Faculty of Engineering-Pamukkale University in 2015, Arıkan started working as a software engineer with Researcher title at TÜBİTAK BİLGEM Cyber Security Institute in 2016. He wanted to increase his depth of knowledge in the field of cyber security, that's why Arıkan received his master's degree from Gazi University, Graduate School of Informatics, Computer Forensics Department in 2019. Both for the same reason and to maximize his security software developer skills, he continues his education in doctoral program of the same university, same department.
          </p>
          <p>
          Arıkan, currently works as a Senior Researcher in cybersecurity technology development projects in the Institute. As a software engineer; he takes part in software development, project management, configuration management, risk management and software process improvement. Besides of the software engineering activities that he mainly worked, when his service is needed in the field of cybersecurity, Arıkan also works as an instructor of various trainings in domestic and abroad, participates in penetration tests and security audits, works in workshops, and takes part in guide preparation projects. In addition to all these, he is a member of the Institute Board at TÜBİTAK BİLGEM Cyber Security Institute as employee representative.
          </p>
        </div>
      </div>
    </div>
    </div>
      
      
      
    <br>
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         {% include about.html %}
        </div>
      </div>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
</body>
</html> 
