<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="{{ '/' }}" class="btn">Anasayfa</a>
      <a href="{{ '/resume' }}" class="btn">Hakkımda</a>
      <a href="{{ 'https://github.com/arikansm?tab=repositories' }}" class="btn">Github Depoları</a>
    </header>

    <main id="content" class="main-content" role="main" style="text-align: justify;">
      <h1 style="margin-bottom: 0px;">Süleyman Muhammed ARIKAN</h1>
      <p style="margin: 0px; font-weight: normal; font-style: italic;">Sofware Engineer, Instructor, Cyber Security Researcher</p>
      <div  style="float:right; margin: 10px; padding: 10px; border: 2px solid; border-radius: 5px;">
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="tr_TR" data-type="vertical" data-theme="light" data-vanity="süleyman-muhammed-arikan-003790157"><a class="LI-simple-link" href='https://tr.linkedin.com/in/s%C3%BCleyman-muhammed-arikan-003790157?trk=profile-badge'>To View My Linkedin Profile</a></div>
      </div>
    
  	  <p>Since his father was a computer teacher, Arıkan met computers at an early age for those years. With the help of his father, he started to write simple desktop applications using visual basic programming language and also learned using Microsoft Frontpage and Macromedia Flash 5 during his secondary school years. In high school ages, he made effort to improve his programming skills and tried to learn some of C-Family programming languages. Of course, as a result of all this, his interest in computer science was increasing day by day. Therefore, he continued his higher education in computer engineering department to become a software developer/engineer in 2010.
      </p>
      <p>After graduating as the first ranked (highest GPA) student in Pamukkale University-Faculty of Engineering in 2015, Arıkan started working as a software engineer with researcher title at TÜBİTAK BİLGEM Cyber Security Institute in 2016. He wanted to increase his depth of knowledge in the field of cyber security, that's why Arıkan received his master's degree from Gazi University, Graduate School of Informatics, Computer Forensics Department in 2019. He continues his education in doctoral program of the same university, same department.
      </p>
	    <p>
	    Arıkan, currently works as a Senior Researcher in cybersecurity technology development projects in the Institute. As a software engineer; he has experience in web technologies, databases, software development, project management, configuration management and software process improvement. In the field of cybersecurity, Arıkan also works as an instructor for various domestic and abroad training courses such as secure software development, privacy in software, web application security, database security, and Linux fundamentals, and he carries out database security auditing activities in penetration tests. At the same time, he is a member of the Institute Board at TÜBİTAK BİLGEM Cyber Security Institute as employee representative.
      </p>
      
      {{ content }}
      
      <footer class="site-footer">
        <span class="site-footer-credits">Süleyman Muhammed ARIKAN</span>
      </footer>
    </main>
  </body>
</html>
